<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114761161-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-114761161-1');
    </script>
    <script src="https://cdn.ravenjs.com/3.22.3/raven.min.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class='title'>
      <span class='titleLine1'><strong>Pritin Tyagaraj</strong></span><br/>
      <div class='titleLine2'>is <span id='identity'></span><span style='font-size: 100px' class='blinking-cursor'>|</span></div>
    </div>
    <div class='currentProject'>
      <span class='currentProjectHeader'>~ Check out my current project
    </div>
    <div class='work'>
      <span class='workHeader'>~ See my other work</span>
    </div>
    <div class='contact'>
      <span class='contactHeader'>~ Contact me</span>
      <div class='contactOptionsWrapper'>
        <div class='contactOption'>
        </div>
      </div>
    </div>
  </body>
</html>
