<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114761161-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-114761161-1');
    </script>
    <script src="https://cdn.ravenjs.com/3.22.3/raven.min.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class='title'>
      <span class='titleLine1'><strong>Pritin Tyagaraj</strong></span><br/>
      <div class='titleLine2'>is <span id='identity'></span><span class='blinking-cursor'>|</span></div>
    </div>
    <div class='currentProject'>
      <span class='currentProjectHeader'>~ Check out my ongoing project
        <div class="optionsWrapper">
          <a title="Tutor Assist on Github" href="https://github.com/init-ninja/tutor-assist"><i class="socialMediaIcon github"></i></a>
        </div>
    </div>
    <div class='work'>
      <span class='workHeader'>~ See what else I'm up to</span>
      <div class='optionsWrapper'>
        <a title="init-ninja on Github" href="https://github.com/init-ninja"><i class="socialMediaIcon github"></i></a>
        <a title="Pritin Tyagaraj on Instagram" href="https://www.instagram.com/pritin_tyagaraj/"><i class="socialMediaIcon instagram"></i></a>
        <a title="The Indo-Swede on Medium" href="https://medium.com/the-indo-swede"><i class="socialMediaIcon medium"></i></a>
      </div>
    </div>
    <div class='contact'>
      <span class='contactHeader'>~ Contact me</span>
      <div class='optionsWrapper'>
        <div class='contactOption'>
          <a title="Pritin Tyagaraj on LinkedIn" href="https://www.linkedin.com/in/pritin-tyagaraj-2789a738/"><i class="socialMediaIcon linkedin"></i></a>
          <a title="Pritin Tyagaraj on Facebook" href="https://www.facebook.com/pritintyagaraj"><i class="socialMediaIcon facebook"></i></a>
          <a title="Pritin Tyagaraj on Twitter" href="https://twitter.com/pritintyagaraj"><i class="socialMediaIcon twitter"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>
